
# Client
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/package-lock.json
client/node_modules
client/dist
client/dist-ssr
client/*.local
client/.env



# Server
server/node_modules
server/.env
server/package-lock.json
server/firebase/config.json

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

sources.md
